.App {
  margin: 0 auto;
}

.App .container {
  max-width: 960px;
}

.App header {
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
}

.App-header h1 {
  display: inline-block;
  position: relative;
  top: 8px;
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
  font-size: 40px;
  color: #272142;
}

.App .App-logo {
  display: inline-block;
  margin: 10px 0 10px 30px;
  max-width: 60px;
}

.App .App-footer {
  text-align: center;
  font-size: 13px;
  margin: 20px 0 50px 0;
}

body {
  background: linear-gradient(
    109.6deg,
    rgb(246, 242, 254) 11.2%,
    rgb(247, 238, 247) 91.1%
  );
}

.App-footer a {
  color: #9771f3;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.App-footer a:hover {
  cursor: pointer;
  color: #9771f3;
  text-shadow: 0.5px 0.5px 5px rgb(0, 0, 0, 0.2);
}
